<ion-view view-title="Register">
  <ion-pane>
    <ion-header-bar>
      <button class="button button-icon icon ion-home" ng-click="login()" ></button>
      <h1 class="title">Register</h1>
    </ion-header-bar>

    <ion-content padding="true" ng-controller="RegisterCtrl">
        <form name="myForm" novalidate>
      <div class="list">
<label class="item item-input">
          <input type="text" id="fname" class="form-control" placeholder="Firstname" required autofocus ng-model="fname" required>
        </label>
        <label class="item item-input">
          <input type="text" id="lname" class="form-control" placeholder="Lastname" required autofocus ng-model="lname" required>
        </label>
          <label class="item item-input">
          <input type="text" id="dob" class="form-control" placeholder="Date Of Birth" required autofocus ng-model="dob" >
        </label>
          <label class="item item-input">
          <input type="email" id="email" class="form-control" placeholder="Enter MailId" required autofocus ng-model="email">
        </label>        
        <label class="item item-input">  
  <input ng-minlength="5" ng-maxlength="5" type="text" id="username" class="form-control" placeholder="Enter SSO (Ex: ABCDE)" autofocus ng-model="sso1" required>
        </label>
          <label class="item item-input">  
          <input ng-minlength="5" ng-maxlength="5" type="text" id="username" class="form-control" placeholder="Re-Enter SSO (Ex: ABCDE) " required autofocus ng-model="sso" required>
        </label>
        <label class="item item-input">
          <input ng-minlength="5"type="password" id="password" class="form-control" placeholder="Enter Password" required autofocus ng-model="password" required>            
        </label>
          <label class="item item-input">
          <input type="text" id="mobile" class="form-control" placeholder="Mobile No" required autofocus ng-model="mobile"> 
        </label>
          <label class="item item-input">
          <input type="text" id="address1" class="form-control" placeholder="Address 1" required autofocus ng-model="address1"> 
        </label>
          <label class="item item-input">
          <input type="text" id="address2" class="form-control" placeholder="Address 2" required autofocus ng-model="address2"> 
        </label>
          <label class="item item-input">
          <input type="text" id="City" class="form-control" placeholder="City" required autofocus ng-model="city"> 
        </label>
          <label class="item item-input">
          <input type="text" id="State" class="form-control" placeholder="State" required autofocus ng-model="state"> 
        </label>
          <label class="item item-input">
          <input type="text" id="Zip" class="form-control" placeholder="Zip Code" required autofocus ng-model="zip"> 
        </label>
          
<div class="padding">
            <p ng-show="myForm.fname.$error.required">* First Name is required</p>
                <p ng-show="myForm.lname.$error.required">* Last Name is required</p>
            <p ng-show="myForm.sso.$error.minlength">* SSO must be longer than 5 characters</p>
                <p ng-show="myForm.sso1.$error.minlength">* SSO must be longer than 5 characters</p>
            <p ng-show="myForm.sso.$error.maxlength">* SSO must be longer than 5 characters</p>
                <p ng-show="myForm.sso1.$error.maxlength">* SSO must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.required">* Password is required</p>
            
        </div>
          <div class="padding">
          <button class="button button-block button-positive padding-horizontal" ng-disabled="myForm.$invalid"
                  ng-click="register(fname,lname,dob,email,sso1,sso,password,mobile,address1,address2,city,state,zip)">Register</button>
          </div>
      </div>
            
</form>
    </ion-content>
  </ion-pane>
</ion-view>